# os x related
.DS_Store

# python related
__pycache__
*.py[co]

# docs
docs/_build/


# build related (exception for lib/ folders)
*.so
*.so.dSYM
*.[hc]pp !lib/*.[hc]pp
Makefile*

# exclude build related files and folders
build/
dist/

# setup.py related
*.egg-info/

# poetry related
poetry.lock

# exclude test.py detritus
test
test.*

# exclude tests and static analysis detritus
.tox/
.pytest_cache/
.ruff_cache/

# virtualenv named 'venv' in case it is in-source
venv

# shedsksin specific
*.ss.py
shedskin/lib/array.py
shedskin/lib/hashlib.py
shedskin/lib/serial.py

# editor or ide
.vscode