*.pyc
*.pyo
*.ppm
*.png
*.txt
*.ini
*.csv
*.?pp
*.so
FLAGS
shedskin/FLAGS
Makefile*
gmon.out
*.gcda
/lib
test.*
test
testdata/*.?pp
testdata/crap2/*.?pp
testdata/humba
testdata/lop
aap
aap2
tx.py
tx?
tx
tests/testdata
