*.pyc
*.pyo
*.ppm
*.png
*.txt
*.ini
*.csv
*.?pp
*.so
*.vim
FLAGS
shedskin/FLAGS
Makefile*
gmon.out
*.gcda
/lib
test.*
test
testdata/*.?pp
testdata/crap2/*.?pp
testdata/humba
testdata/lop
aap
aap2
tx.py
tx?
tx
tests/testdata
*.ss.py
shedskin/lib/array.py
shedskin/lib/hashlib.py
shedskin/lib/serial.py
examples/LZ2
examples/sokoban
examples/score4
examples/TonyJpegDecoder
examples/ac_encode
examples/adatron
examples/amaze
examples/ant
examples/astar
examples/bh
examples/block
examples/brainfuck
examples/c64/c64
examples/chaos
examples/chess
examples/circle
examples/dijkstra
examples/dijkstra2
examples/fysphun
examples/genetic
examples/genetic2
examples/go
examples/kanoodle
examples/life
examples/linalg
examples/mandelbrot
examples/mandelbrot2
examples/mao
examples/mastermind_main
examples/mastermind2
examples/minilight_main
examples/msp_ss
examples/mwmatching
examples/nbody
examples/neural1
examples/neural2
examples/oliva2
examples/othello
examples/path_tracing
examples/pisang
examples/pygmy
examples/pylife
examples/pylot/SimpleGeometry
examples/pystone
examples/rdb
examples/richards
examples/rsync
examples/sieve
examples/sudoku1
examples/sudoku2
examples/sudoku3
examples/sudoku4
examples/sudoku5
examples/testoth.py
examples/testprogs.py
examples/tictactoe
examples/voronoi
examples/voronoi2
examples/yopyra
examples/quameon/sto_atom
examples/solitaire
examples/sha
examples/loop
tests/0
tests/1
tests/2
tests/3
tests/4
tests/5
tests/6
tests/7
tests/8
tests/9
tests/10
tests/11
tests/12
tests/13
tests/14
tests/15
tests/16
tests/17
tests/18
tests/19
tests/20
tests/21
tests/22
tests/23
tests/24
tests/25
tests/26
tests/27
tests/28
tests/29
tests/30
tests/31
tests/32
tests/33
tests/34
tests/35
tests/36
tests/37
tests/38
tests/39
tests/40
tests/41
tests/42
tests/43
tests/44
tests/45
tests/46
tests/47
tests/48
tests/49
tests/50
tests/51
tests/52
tests/53
tests/54
tests/55
tests/56
tests/57
tests/58
tests/59
tests/60
tests/61
tests/62
tests/63
tests/64
tests/65
tests/66
tests/67
tests/68
tests/69
tests/70
tests/71
tests/72
tests/73
tests/74
tests/75
tests/76
tests/77
tests/78
tests/79
tests/80
tests/81
tests/82
tests/83
tests/84
tests/85
tests/86
tests/87
tests/88
tests/89
tests/90
tests/91
tests/92
tests/93
tests/94
tests/95
tests/96
tests/97
tests/98
tests/99
tests/100
tests/101
tests/102
tests/103
tests/104
tests/105
tests/106
tests/107
tests/108
tests/109
tests/110
tests/111
tests/112
tests/113
tests/114
tests/115
tests/116
tests/117
tests/118
tests/119
tests/120
tests/121
tests/122
tests/123
tests/124
tests/125
tests/126
tests/127
tests/128
tests/129
tests/130
tests/131
tests/132
tests/133
tests/134
tests/135
tests/136
tests/137
tests/138
tests/139
tests/140
tests/141
tests/142
tests/143
tests/144
tests/145
tests/146
tests/147
tests/148
tests/149
tests/150
tests/151
tests/152
tests/153
tests/154
tests/155
tests/156
tests/157
tests/158
tests/159
tests/160
tests/161
tests/162
tests/163
tests/164
tests/165
tests/166
tests/167
tests/168
tests/169
tests/170
tests/171
tests/172
tests/173
tests/174
tests/175
tests/176
tests/177
tests/178
tests/179
tests/180
tests/181
tests/182
tests/183
tests/184
tests/185
tests/186
tests/187
tests/188
tests/189
tests/190
tests/191
tests/192
tests/193
tests/194
tests/195
tests/196
tests/197
tests/198
speed/rc4
examples/plcfrs
examples/kmeanspp
