Makefile
*.cpp
*.hpp
*.so
*.so.dSYM

*.gcda
*.pgm
*.png
*.ppm
*.tga

tx
tx.py
tx?
aap
aap2
gmon.out

*.csv
*.ini

build
testdata/log.txt


!cpp/*.cpp

# compiled test binaries: extensionless, named after their directory
test_*/test_*
!test_*/test_*.*
!test_*/testdata/
