name: tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true

env:
  BUILD_TYPE: Release

jobs:
  test:
    runs-on: ${{matrix.os}}
    # continue-on-error: true

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.13"]
        # python: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4

    - uses: astral-sh/setup-uv@v5

    - name: Install shedskin
      run: uv sync --python ${{ matrix.python-version }}

    - name: Test shedskin
      run: |
        cd tests
        uv run shedskin runtests  --build-type Release

    - name: Test shedskin examples
      run: |
        cd examples
        uv run shedskin runtests  --build-type Release
