name: test-dep-managers

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

concurrency:
  group: dep-managers-${{ github.ref }}
  cancel-in-progress: true

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.13"]
        dep-manager: [local-deps, spm, conan, extproject]

    steps:
    - uses: actions/checkout@v4

    - name: Setup python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Display Python version
      run: python -c "import sysconfig, platform; print(platform.system(), sysconfig.get_python_version())"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt

    - name: Install conan
      if: matrix.dep-manager == 'conan'
      run: pip install conan

    - name: Install shedskin
      run: pip install .

    - name: Build test.py with --${{ matrix.dep-manager }}
      run: shedskin build --${{ matrix.dep-manager }} test.py

    - name: Run built executable
      shell: bash
      run: |
        if [[ "$RUNNER_OS" == "Windows" ]]; then
          ./build/Release/test.exe
        else
          ./build/test
        fi
