name: test_release

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Debug

jobs:
  test:
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v4

    - uses: astral-sh/setup-uv@v5

    - name: Install shedskin
      run: uv sync --python ${{ matrix.python-version }}

    - name: Test shedskin
      run: |
        cd tests
        uv run shedskin runtests  --build-type Release

    - name: Test shedskin examples
      run: |
        cd examples
        uv run shedskin runtests  --build-type Release
