name: test_release

on:
  workflow_dispatch:

env:
  BUILD_TYPE: Debug

jobs:
  test:
    runs-on: ${{matrix.os}}

    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ["3.12", "3.13", "3.14"]

    steps:
    - uses: actions/checkout@v4

    - name: Setup python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Display Python version
      run: python -c "import sysconfig, platform; print(platform.system(), sysconfig.get_python_version())"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements.txt

    - name: Install shedskin
      run: pip install .

    - name: Test shedskin
      run: |
        cd tests
        shedskin runtests  --build-type Release

    - name: Test shedskin examples
      run: |
        cd examples
        shedskin runtests  --build-type Release
